# Capston Project - Battle of Neighbourhoods
## BY : Hassan Ashiq
### ------------------------------------------------------------------------------------------------------------------------------------------------------


<h1> <center> <font color=Red align=center> Week 1 : Part 1 --- Introduction/Business Problem  </font> </h1>

## --------------------------------------------------------------------------------------------------------------------------------

<h1> <font color=blue> *Description of the Problem and Discussion of the Background*



## Deciding a best venue for new Business in outside Inner City

__London is an extraordinary city. It is differing, multicultural and brimming with circumstances. Be that as it may, there is additionally another side to its fame and bid. London is a costly spot to live and flourish. Numerous organizations need to open a scene here and many follow through on top cost to have their window on Piccadilly or Oxford Street.
Be that as it may, shouldn't something be said about those ?
Who need to go into business and can't generally bear to open in the City yet? 
Where is it best to open another spot? 
Where will it be least expensive and will have enough individuals living around to be mainstream? 
Where the opposition isn't excessively overpowering?__

<h1> <font color=orangered> Plan for this Project</font> </h1>

All the above questions and more will be answered below. The whole process will be carried out via the below plan:


<h3> <font color=blue> 1 : Acquire the Data</font> </h3>

<ul>
    <h4> <li> <p> 1.a. Name of the London Boroughs, area and population from web scrapping </p> <br> </li>
       
  <li> <p>  1.b. Filter the boroughs to get the best candidates for the analysis. </p> <br> </li>
  
  <li>1.c. Use Foresquare Data to obtain info about most popular venues.</li> </h4>
</ul>

<h3>
<font color=blue>2 : Data Visualization and Some Simple Statistical Analysis. </font>


<h3> <font color=blue> 3 : Analysis Using Clustering, Specially K-Means Clustering. </font> </h3>

<ul>
    <h4> <li> <p> 
3.a. Maximize the number of clusters. </p> <br> </li>
       
  <li> <p> 3.b. Visualization using Chloropleth Map </p> </li>
  
</ul>


<h3> <font color=blue> 4 : Compare the Neighborhoods to Find the Best Place for Starting up a Venue.  </font> </h3>

<h3> <font color=blue>5: Inference From these Results and related Conclusions. </font> </h3>

## ----------------------------------------------------------------------------------------------------------

<h1> <font color=orangered>Target Audience</font> </h1>

<h3>
<ul>
    
 <li><p> 1. First time enterpreneurs, who want to start their first business. This project will give insight into where best to open a new venue, to maximise the value for money.
     </p> <br> </li>
    
    
<li><p> 2. People who already run a business and want to branch out. Given the extra information, it may provide valuable information before decision making.
    </li> 
</h3>
    
## ------------------------------------------------------------------------------------------------------------------------

<h1> <center> <font color=Red align=center>  Week 1 : Part 2  ( Data Section )</font> </h1>

## ------------------------------------------------------------------------------------------------------------------------

<h2> <font color=Blue> Initial Data Preparation (Week 1)</font> </h2>

<ul>
<h4>    
    <li> <p> 2.1. Get The Names of Boroughs, Areas, Population, Coordinates from Wikipedia </p> <br ></li>

<li> <p> 2.2. Processing the Information From Wiki To Make Necessary Lists </p> <br> 
 
 <li> 2.3. Check and Compare with Google Search and Refine if Necessary </li>
</h4>

### ----------------------------------------------------------------------------------------------------------

<h2> <font color=YellowOrange> Importing Important Modules </font> </h2>

In [7]:
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import requests


<h2> <font color=YellowOrange>Reading our target wikipedia URL through Pandas and assigning it to variabe -- LDF ( London Data Frame )</font> </h2>

In [8]:
url='https://en.wikipedia.org/wiki/List_of_London_boroughs'

LDF=pd.read_html(url, header=0)[0]

LDF.head()

,Borough,Inner,Status,Local authority,Political control,Headquarters,Area (sq mi),Population (2013 est)[1],Co-ordinates,Nr. in map
0,Barking and Dagenham [note 1],NaN,NaN,Barking and Dagenham London Borough Council,Labour,"Town Hall, 1 Town Square",13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E,25
1,Barnet,NaN,NaN,Barnet London Borough Council,Conservative,"Barnet House, 2 Bristol Avenue, Colindale",33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,31
2,Bexley,NaN,NaN,Bexley London Borough Council,Conservative,"Civic Offices, 2 Watling Street",23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,23
3,Brent,NaN,NaN,Brent London Borough Council,Labour,"Brent Civic Centre, Engineers Way",16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,12
4,Bromley,NaN,NaN,Bromley London Borough Council,Conservative,"Civic Centre, Stockwell Close",57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,20

<h2> <font color=YellowOrange> Dropping the extras, that will not be needed for the analysis. </font> </h2>

In [13]:
LF = LDF.drop(['Status','Local authority','Political control','Headquarters','Nr. in map'], axis=1)
LF['Inner'].replace(np.nan,'0', inplace=True)
LF['Borough'].replace('Barking and Dagenham [note 1]','Barking and Dagenham', inplace=True)
LF['Borough'].replace('Greenwich [note 2]','Greenwich', inplace=True)
LF['Borough'].replace('Hammersmith and Fulham [note 4]','Hammersmith and Fulham', inplace=True)
Inn = ['Camden','Greenwich','Hackney','Hammersmith and Fulham','Islington','Kensington and Chelsea','Lewisham','Lambeth','Southwark','Tower Hamlets','Wandsworth','Westminster']
LF.head()
LF['Inner'] = '0'
LF.head()

,Borough,Inner,Area (sq mi),Population (2013 est)[1],Co-ordinates
0,Barking and Dagenham,0,13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1,Barnet,0,33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,0,23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,0,16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,0,57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E

<h2> <font color=YellowOrange> We will rename the Columns to make it easy to read</font> </h2>

In [20]:
LF['Inner'] = LF.Borough.isin(Inn).astype(int)
Out = LF[LF.Inner == 0]
Out = Out.drop(['Inner'], axis=1)
df = Out.rename(columns = {"Area (sq mi)": "Area", 
                            "Population (2013 est)[1]":"Population"})
df.head()

,Borough,Area,Population,Co-ordinates
0,Barking and Dagenham,13.93,194352,51°33′39″N 0°09′21″E﻿ / ﻿51.5607°N 0.1557°E
1,Barnet,33.49,369088,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W
2,Bexley,23.38,236687,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E
3,Brent,16.70,317264,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W
4,Bromley,57.97,317899,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E

<h2> <font color=YellowOrange>Getting Latitude and Longitude form Geolocator using Nominatim.</font> </h2>

In [33]:
geolocator = Nominatim(user_agent="London_explorer")
df['Co-ordinates']= df['Borough'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))
df[['Latitude', 'Longitude']] = df['Co-ordinates'].apply(pd.Series)
df.head()

,Borough,Area,Population,Co-ordinates,Max_Rent,Latitude,Longitude
0,Barking and Dagenham,13.93,194352,"(51.5541171, 0.15050434261994267)",102.25,51.554117,0.150504
1,Barnet,33.49,369088,"(51.65309, -0.2002261)",150.75,51.653090,-0.200226
2,Bexley,23.38,236687,"(39.9692378, -82.936864)",97.00,39.969238,-82.936864
3,Brent,16.70,317264,"(32.9373463, -87.1647184)",150.75,32.937346,-87.164718
4,Bromley,57.97,317899,"(51.4028046, 0.0148142)",118.50,51.402805,0.014814

<h2> <font color=YellowOrange> Here, i am going to filter it more because one of the biggest issue for new businesses is the price. So, we will get those boroughs which have the lowest price </font> </h2>

In [44]:
Max_Rent = ['102.25','150.75','97','150.75','118.5','129.25','140','102.25','107.75','140','86','161.5','161.5','140','123.75','134.5','118.5','140','129.25','145.25']
df['Max_Rent'] = Max_Rent

df["Max_Rent"] = pd.to_numeric(df["Max_Rent"])
fin = df[df.Max_Rent <= 125]
fin

,Borough,Area,Population,Co-ordinates,Max_Rent,Latitude,Longitude
0,Barking and Dagenham,13.93,194352,"(51.5541171, 0.15050434261994267)",102.25,51.554117,0.150504
2,Bexley,23.38,236687,"(39.9692378, -82.936864)",97.00,39.969238,-82.936864
4,Bromley,57.97,317899,"(51.4028046, 0.0148142)",118.50,51.402805,0.014814
8,Enfield,31.74,320524,"(51.6520851, -0.0810175)",102.25,51.652085,-0.081018
12,Haringey,11.42,263386,"(51.587929849999995, -0.10541010599099046)",107.75,51.587930,-0.105410
14,Havering,43.35,242080,"(51.0043613, -2.337474942629507)",86.00,51.004361,-2.337475
22,Merton,14.52,203223,"(51.410802849999996, -0.18809850595572736)",123.75,51.410803,-0.188099
24,Redbridge,21.78,288272,"(51.5763203, 0.0454097)",118.50,51.576320,0.045410

<h2> <font color=YellowOrange>Finally, we edit the coordinates, that are incorrect.</font> </h2>

In [45]:

Long_list = fin['Longitude'].tolist()
Lat_list = fin['Latitude'].tolist()

replace_longitudes = {-106.6621329:0.0799, -2.8417544: 0.1837}
replace_latitudes = {50.7164496:51.6636, 51.0358628: 51.5499}

longtitudes_new = [replace_longitudes.get(n7,n7) for n7 in Long_list]
latitudes_new = [replace_latitudes.get(n7,n7) for n7 in Lat_list]

fin = fin.drop(['Co-ordinates', 'Longitude'], axis=1)

fin['Longitude'] = longtitudes_new
fin['Latitude'] = latitudes_new

fin

                 Borough   Area  Population  Max_Rent   Latitude  Longitude
0   Barking and Dagenham  13.93      194352    102.25  51.554117   0.150504
2                 Bexley  23.38      236687     97.00  39.969238 -82.936864
4                Bromley  57.97      317899    118.50  51.402805   0.014814
8                Enfield  31.74      320524    102.25  51.652085  -0.081018
12              Haringey  11.42      263386    107.75  51.587930  -0.105410
14              Havering  43.35      242080     86.00  51.004361  -2.337475
22                Merton  14.52      203223    123.75  51.410803  -0.188099
24             Redbridge  21.78      288272    118.50  51.576320   0.045410

<h2> <font color=YellowOrange>Now lets make a map, with all boroughs in question marked up</font> </h2>

In [47]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
address = 'London'

geolocator = Nominatim(user_agent="London_explorer")
location = geolocator.geocode(address)
London_latitude = location.latitude
London_longitude = location.longitude
print('The geograpical coordinates of London are {}, {}.'.format(London_latitude, London_longitude))

The geograpical coordinates of London are 51.5073219, -0.1276474.

<h4> <font color=Red > Please zoom out to see the markers</font> </h4>

In [57]:
#!pip install folium
#zoom out to see the markers
import folium

borough_map = folium.Map(location=[London_latitude, London_longitude], zoom_start=10)


for lat, lng, label in zip(fin['Latitude'], fin['Longitude'], 
                            fin['Borough']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=9,
        popup=label,
        color='Green',
        fill=True,
        fill_color='#Blue',
        fill_opacity=0.7).add_to(borough_map)
Fin_Brgh

## End of Week 1
### Project by : Hassan Ashiq
#### https://www.linkedin.com/in/hassan-ashiq